<h1 class="text-title">Form-component</h1>
<!-- Section: Split screen -->
<section class="body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 vh-100">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="inputName"
                formControlName="name"
                placeholder="Input Name"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label"
              >Email:</label
            >
            <div class="col-sm-9">
              <input
                type="email"
                formControlName="email"
                class="form-control"
                id="inputEmail"
                placeholder="Input Email"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputphone" class="col-sm-2 col-form-label"
              >Phone:</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                formControlName="phone"
                class="form-control"
                id="inputPhone"
                placeholder="Input Phone No"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="inputAmount" class="col-sm-2 col-form-label"
              >Amount:</label
            >
            <div class="col-sm-9">
              <input
                type="number"
                formControlName="amount"
                class="form-control"
                id="inputName"
                placeholder="Input Amount"
              />
            </div>
          </div>
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!myForm.valid"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
      <div class="col-lg-8 vh-100">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Amount</th>
              <th scope="col">Event</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of submitRecords; let i = index">
              <th class="align-middle" scope="row">{{ i + 1 }}</th>
              <td class="align-middle">{{ record.name }}</td>
              <td class="align-middle">{{ record.email }}</td>
              <td class="align-middle">{{ record.phone }}</td>
              <td class="align-middle">
                {{ record.amount | currency : "LKR" }}
              </td>
              <td>
                <button
                  (click)="onDelete(i)"
                  type="button"
                  class="btn btn-danger"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- Section: Split screen -->
